<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Error | Telemedic</title>

        <!-- CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/lib/materialize.css">
        <link rel="stylesheet" type="text/css" href="icons/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/form-elements.css">
        <link rel="stylesheet" type="text/css" href="css/helpers.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="shortcut icon" href="stethoscope-icon.png" type="image/png" />
    </head>

    <body>
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo indigo-text center">Telemedic</a>
            </div>
        </nav>

        <div class="grey lighten-4 section p-b-40 m-t-2">
            <div class="container">
                <div class="section" style="min-height: 40vh;">
                    <p>The page requested was not found. <a href="javascript:history.back()">Go back</a> or <a href=".">return to homepage</a>.</p>
                </div>
            </div>
        </div>

        <% include partials/footer.ejs %>

        <!-- Javascript -->
        <script type="text/javascript" src="js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="vendor/alertifyjs/js/alertify.min.js"></script>

        <script type="text/javascript" src="js/lib/materialize.js"></script>
        <script src="js/scripts.js"></script>


        <!--[if lt IE 10]>
            <script src="js/placeholder.js"></script>
        <![endif]-->
    </body>
</html>