<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Telemedic</title>

  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/lib/materialize.css">
        <link rel="stylesheet" type="text/css" href="icons/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/form-elements.css">
        <link rel="stylesheet" type="text/css" href="css/helpers.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="shortcut icon" href="stethoscope-icon.png" type="image/png" />
	</head>
	<body>
        <% include partials/nav.ejs %>
                        
		<div class="grey darken-1 hide-on-med-and-down">
			<div class="container">
				<div class="row center m-b-0">
					<a href="#why" class="p-t-15 p-b-15 white-text col s4">Why Telemedic?</a>
					<a href="#how" class="p-t-15 p-b-15 white-text col s4">How it works</a>
					<a href="#reviews" class="p-t-15 p-b-15 white-text col s4">Customer Reviews</a>
				</div>
			</div>
		</div>

		<div id="index-banner" class="parallax-container">
    		<div class="section no-pad-bot">
      			<div class="container">
        			<br><br>
                    <h1 id="typed-wrap" class="header center white-text text-lighten-1" style="min-height:31vh;">
            			
                    </h1>
                    <!-- <div id="typed-strings">
                        <div>
                            <h1 class="header center indigo-text text-lighten-1">Welcome to healthcare at your fingertips</h1>
                            <h5 class="header center col s12 light">Quality service just a few steps away</h5>
                        </div>
                        <p>
                            <h1 class="header center indigo-text text-lighten-1">Tired of the long drives to the hospital? No problem</h1>
                            <h5 class="header center col s12 light">Telemedic will take the stress away</h5>
                        </p>
                    </div> -->
        			<div class="row center">
                        <h5 class="header center col s12 light">Quality service just a few steps away.</h5>
                        <br><br>
                        <br>   
          				<div class="col s12 center">
                            <a href="signup" class="signup btn-large waves-effect waves-light indigo lighten-1">Get Started</a>
                        </div>
        			</div>
        			<br><br>
      			</div>
		    </div>
    		<div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 1"></div>
  		</div>

        <div id="about" class="section white">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6">
                        <h3 class="black-text">About Us</h3>

                        <p class="light f-s-18">Telemedic is a system that connects patients to health specialists and pharmacists through videos and chats, to get access to health care at their own convenience and time.</p>
                        <p class="light f-s-18">Our platform enables health specialists to come onboard, and help patients get whatever medical expertise they require, all with little to no effort.</p>
                    </div>
                </div>
            </div>
        </div>

  		<div id="why" class="parallax-container">
  			<div class="section no-pad-bot">
          <div class="container">
    				<div class="row center">
    					<h3 class="white-text">Why Telemedic?</h3>
    				</div>
    				<div class="row">
          			<div class="col s12 m4">
            				<div class="icon-block">
              				<h2 class="center white-text"><i class="material-icons">flash_on</i></h2>
              				<h5 class="white-text center">Reliability</h5>

              				<p class="white-text light center">Doctors on our platform are well-trained and equipped to handle cases. Why? We have experienced officials who review their profiles. Trust us.</p>
            				</div>
          			</div>

          			<div class="col s12 m4">
            				<div class="icon-block">
              				<h2 class="center white-text"><i class="material-icons">group</i></h2>
              				<h5 class="white-text center">Stress free</h5>

              				<p class="white-text light center">Quality healthcare has never been this easy. For little or no work, you get access to quality professionals for a low amount.</p>
            				</div>
          			</div>

          			<div class="col s12 m4">
            				<div class="icon-block">
              				<h2 class="center white-text"><i class="material-icons">settings</i></h2>
              				<h5 class="white-text center">Versatility</h5>

              				<p class="white-text light center">A large array of well-trained professionals are in line to attend to you. Tap into answers from the different fields of medicine, all with this service.</p>
            				</div>
          			</div>
       			</div>
          </div>
    		</div>
        <div class="parallax"><img src="img/background4.jpg" alt="Unsplashed background img 1"></div>
  		</div>

  		<div id="how" class="white section">
  			<div class="container">
  				<div class="row center">
  					<h3>How it works</h3>
  				</div>
  				<div class="row">
  					<div class="col s12 m4">
  						<div class="card">
	  						<h5 class="indigo-text center">Create</h5>
	  						<p class="center light">Creating an account is easy and it takes less than a minute on your phone, tablet or computer.</p>
	  					</div>
  					</div>

  					<div class="col s12 m4">
  						<div class="card">
	  						<h5 class="indigo-text center">Complain</h5>
	  						<p class="center light">Write new issues/complaints and wait for a doctor to initiate a conversation with you.</p>
	  					</div>
  					</div>

  					<div class="col s12 m4">
  						<div class="card">
	  						<h5 class="indigo-text center">Talk</h5>
	  						<p class="center light">Talk with qualified professionals through whatever medium: text, voice, or video.</p>
	  					</div>
  					</div>
  				</div>
  			</div>
  		</div>

  		<div id="reviews" class="indigo lighten-1 section">
  			<div class="container white-text">
  				<div class="row center">
  					<h3>Hear from our users</h3>
  				</div>
  				<div class="row">
  					<div class="col s12 m6 offset-m3">
  						<div class="row">
  							<div class="col s1">
  								<i class="fa fa-quote-left"></i>
  							</div>
  							<div class="col s10">
  								<span class="light">I got the very best the first time I used this service. Thumbs up guys!</span>
  							</div>
  							<div class="col s1">
  								<i class="fa fa-quote-right"></i>
  							</div>
  						</div>
  						<p class="center m-t-40">- <span>Tunde Ajayi</span></p>
  					</div>
  				</div>
  			</div>
  		</div> 

        <div id="contact" class="section white p-t-40 p-b-40">
            <div class="container">
                <div class="row">
                    <div class="col s12 m7">
                        <h3 class="black-text">Contact Us</h3>
                        <p class="light f-s-18">Feel free to talk to us on our social media handles at</p>

                        <ul>
                            <li><a class="f-s-18" href="mailto:itunuogundeji@gmail.com"><i class="fa fa-envelope"></i> ogundejiitunu60@gmail.com</a></li>
                            <li><a class="f-s-18" target="_blank" href="https://twitter.com/itunuogundeji"><i class="fa fa-twitter"></i> @itunuogundeji</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

  		<% include partials/footer.ejs %>

		<!-- Javascript -->
        <script type="text/javascript" src="js/lib/typed.js"></script>
        <script type="text/javascript" src="js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="vendor/alertifyjs/js/alertify.min.js"></script>

        <script type="text/javascript" src="js/lib/materialize.js"></script>
        <script src="js/scripts.js"></script>

        <script type="text/javascript">
            $(function () {
                
                var typed = new Typed("#typed-wrap", {
                    strings: [
                        "",
                        "Welcome to healthcare at your fingertips",
                        "Tired of the long and boring drives to the hospital?",
                        "Telemedic has got you covered!"
                    ],
                    typeSpeed: 60,
                    backSpeed: 30,
                    backDelay: 2000,
                    startDelay: 100,
                    loop: true
                });
                
            });
        </script>
	</body>
</html>