
input[type="text"], 
input[type="password"], 
input[type="date"], 
textarea, 
select, 
select.form-control, 
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    background: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #444;
    box-shadow: none;
    outline: none;
    /*border-radius: 0;*/
    /*border: none;*/
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

select {
    /*border: none;*/
    /*outline: none;*/
}

textarea,
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="date"]:focus,
textarea:focus, 
textarea.form-control:focus,
select:focus, 
select.form-control:focus {
	outline: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, 
input[type="password"]:-moz-placeholder, 
[type="date"]:-moz-placeholder, 
textarea:-moz-placeholder, 
textarea.form-control:-moz-placeholder 
select:-moz-placeholder, 
select.form-control:-moz-placeholder { 
    color: #888; 
}

input[type="text"]:-ms-input-placeholder, 
input[type="password"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, 
textarea.form-control:-ms-input-placeholder,
select:-ms-input-placeholder, 
select.form-control:-ms-input-placeholder { 
    color: #888; 
}

input[type="text"]::-webkit-input-placeholder, 
input[type="password"]::-webkit-input-placeholder, 
input[type="date"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, 
textarea.form-control::-webkit-input-placeholder,
select::-webkit-input-placeholder, 
select.form-control::-webkit-input-placeholder { 
    color: #888; 
}



.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.btn:hover { opacity: 0.6; color: #fff; }

.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.btn:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }

.btn:active:focus, .btn.active:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }
